.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--gap);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.card {
  background: rgba(0,0,0,1);
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow);
  padding: var(--gap);
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 288px;
  max-width: 500px;
}

.card > button:first-of-type {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.25rem;
  margin-left: auto;

}
.card > button:last-of-type {
  width: fit-content;
  margin: auto;
}

@media (hover: hover) and (pointer: fine) {
  .card > button:hover {
    box-shadow: var(--btnShadowHover);
  }
}

.card > button:active {
  box-shadow: var(--btnShadowHover);
}

.card > button > img {
  z-index: 20;
  filter: invert(100%);
}

@media (hover: hover) and (pointer: fine) {
  .card > button:hover > img {
    filter: var(--svg-filter);
  }
}
.card > button:active > img {
  filter: var(--svg-filter);
}

.card > form {
  width:fit-content;
  margin: auto;
  text-align: left;
}
.nameInputLabel {
  display: block;
  width: 212px;
  margin: auto;
}
.nameInput {
  margin-top: calc(var(--gap)/2);
  margin-bottom: calc(var(--gap));
}

.card > form > fieldset {
  text-align: left;
  border: none;
  width: fit-content;
  padding: 0px;
  margin: var(--gap) auto;
}
.card > form > fieldset > legend {
  text-align: center;
  margin-bottom: calc(var(--gap)/2);
}

.selection {
  margin-left: 1rem;
  margin-bottom: calc(var(--gap)/2);
  display:flex;
  align-items: center;
}

.selection > label {
  cursor: pointer;
  width: 100%;
  display:block;
  padding: 0;
  padding-bottom: calc(var(--gap)/4);
  transition: var(--transition);
}
.selection > label:hover {
  background: rgba(255,255,255,0.05);
}

.selection > label > input {
  cursor: pointer;
  margin: 0;
}
.selection > label > span {
  padding-left: calc(var(--gap)/2);
}

.error {
  margin-top: 0;
  color: red;
  display: flex;
  margin-bottom: var(--gap);
  font-size: 1rem;
}
.error > span:nth-of-type(2) {
  margin-left: calc(var(--gap)/2);
}